<?xml version="1.0" ?>
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Robot URDF -->
  <xacro:include filename="$(find rl_bot)/urdf/robot.urdf.xacro"/>
  
  <xacro:include filename="$(find rl_bot)/urdf/common_properties.xacro"/>
  
  <!-- Lidar, Drive, IMU -->
  <xacro:include filename="$(find rl_bot)/urdf/turtlebot3_waffle.gazebo.xacro"/>
  <!-- <xacro:include filename="$(find rl_bot)/urdf/turtlebot3_waffle_1.gazebo.xacro"/> -->

  <!-- RGBD Camera -->
  <xacro:include filename="$(find rl_bot)/urdf/camera.xacro"/>
  <!-- <xacro:include filename="$(find rl_bot)/urdf/camera_1.xacro"/> -->
  
</robot>
